html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.canvas-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    overflow: hidden;
    background: radial-gradient(circle at bottom, #080038 0%, #000000 100%);
    height: 100%;
    z-index: 0; 
}

#fireworksCanvas{
display: block;
width: 100%;
height: 100%;
background: transparent;
z-index: 1;
pointer-events: auto;
}

.title{
    position: absolute;
    width: 100%;
    top: 35px;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    text-shadow: 0px 0px 10px #B700FF, 0 0 20px #B700FF;
    z-index: 10;
}

.controls{
    position: absolute;    
    top: 130px;             
    width: 100%;           
    text-align: center;    
    display: flex;          
    justify-content: center; 
    flex-wrap: wrap;        
    align-items: center; 
    gap: 3px;             
    z-index: 10;           
}

.controls button {
    margin: 0 3px;         
    padding: 8px 16px;      
    font-size: 1rem;         
    border: none;           
    border-radius: 5px;     
    background-color: #B700FF; 
    color: white;           
    cursor: pointer;      
    transition: transform 0.2s; 
  }
  
  .controls button:hover {
    transform: scale(1.06); 
}

  #bgColorPicker {
      background: #B700FF;
      transition: transform 0.2s;
      border-radius: 5px;
}

#bgColorPicker:hover {
    transform: scale(1.06); 
  }

  #bgVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 2; 
    transform: translate(-50%, -50%);
    display: none; 
    object-fit: cover;
}
